@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&display=swap");

.container {
  margin: 20px auto;
  max-width: 1380px;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

.weekDays {
  color: blueviolet;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 25px;
  display: block;
  text-align: center;
}

img {
  width: 90px;
}

.forecast {
  font-size: 20px;
}

#maxtemp {
  color: rgb(255, 0, 0);
}

#mintemp {
  color: rgb(243, 255, 11);
}

form {
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  padding: 10px;
  border-radius: 40px;
}

input {
  text-align: center;
}

#send {
  font-size: 30px;
  font-family: "Edu TAS Beginner", cursive;
  color: blueviolet;
  margin: 30px auto;
  background: transparent;
  border: 1px solid blueviolet;
}

#send:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: scale(1.1);
  color: blueviolet;
  border: 1px solid blueviolet;
}

h2 {
  display: block;
  font-size: 50px;
  padding: 0;
  border-radius: 40px;
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  color: blueviolet;
  margin: 0px 30px 30px 30px;
}

.weatherData {
  color: blueviolet;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
  padding: 5px;
  display: block;
  text-align: justify;
  border-radius: 15px;
}

.weatherData:hover {
  transform: scale(1.2);
  border: none;
}

.description {
  color: blueviolet;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  padding: 5px;
  display: block;
  text-align: center;
}

.time-date {
  color: blueviolet;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
  padding: 5px;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.time-date:hover {
  border: none;
  transform: scale(1.2);
}

button {
  display: block;
  padding: 10px 50px;
  font-size: 30px;
  border-radius: 40px;
  font-family: "Edu TAS Beginner", cursive;
  color: blueviolet;
  margin: 30px auto;
  background: transparent;
  border: 1px solid blueviolet;
}

button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: scale(1.5);
  color: blueviolet;
}

.fahrenheit {
  margin: 30px 85px;
  font-size: 30px;
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  border: 1px solid blueviolet;
  border-radius: 15px;
  padding: 10px 0;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.fahrenheit:hover {
  transform: scale(1.2);
}

.active {
  color: blueviolet;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

small {
  text-align: left;
  font-size: 20px;
  color: blueviolet;
  font-family: "Edu TAS Beginner", cursive;
}

.website {
  text-decoration: underline;
  color: red;
}